{% extends "base.html" %}

{% block quote %}
    <link rel="stylesheet" href="/static/3rd/css/auth.css">
    <script src="/static/3rd/js/sha1.min.js"></script>
    <script src="/static/3rd/js/jquery-1.11.3.min.js"></script>
    <script src="/static/3rd/layui-v2.4.5/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/css/personal.css">
    <script src="/static/js/password_check.js"></script>
    <link rel="stylesheet" href="/static/3rd/layui-v2.4.5/layui/css/layui.css">
{% endblock %}

{% block nav_header %}
{% endblock %}

{% block nav_body %}
{% endblock %}


{% block body %}

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {% if message %}
                <div class='container'>
                    <div class="row">
                        <div style="width: 70%; margin-left: 15%; margin-top: 15px;" class="alert alert-warning text-center" role="alert">{{ message }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}


    {% if form and form.errors %}
        {% for key, error in form.errors.items() %}
            <div class='container'>
                <div class="row">
                    <div style="width: 70%; margin-left: 15%;" class="alert alert-danger text-center" role="alert">{{ error }}</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 content-box">
            <div class="row">
                <div class="h1 text-center">鱼书</div>
                <div class="col-md-8 col-md-offset-2 detail-box">

                    <form class="layui-form" method="post" action="{{ url_for('web.forget_password_request') }}">
                        <div style="margin-bottom: 15px; width: 100%;">
                            <!-- 邮箱 -->
                            <div class="layui-inline" style="width: 100%;">
                                <input style="background: #f6f2f2;" type="text" id="email" name="email" required  lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-input-inline login-btn" style="text-align: center;width: 100%;">
                            <button type="submit" lay-submit lay-filter="sub" class="layui-btn" style="width: 100%;">提交</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    <div style="position:fixed;bottom: 50px; width: 100%;text-align: center;">
        <span class="text-muted">© 2019-2020 lebron.im created by wvalianty</span>
    </div>
{% endblock %}