<!DOCTYPE HTML>
<html>

{% block title %}
    <title>鱼书</title>
    <link rel="shortcut icon" href="/static/image/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

<!-- quote_invariability  quote_variability 1、bootstrap css 2、layui css 3、myself css-->
<head>
<link rel="stylesheet" href="/static/3rd/css/bootstrap3.2.0.min.css">
<script src="/static/3rd/js/53c6484f00013d9300000000.js"></script> <!-- 这个是个什么东东 -->
<script src="/static/3rd/js/bootstrap3.2.0.min.js"></script>
    {% block quote %}
        <link rel="stylesheet" href="/static/css/base.css">
        <script src="/static/js/base.js"></script>
        <script src="/static/js/submit_form.js"></script>
        <script src="/static/3rd/layui-v2.4.5/layui/layui.js"></script>
    {% endblock %}
</head>


<body>

<!-- warning --> <!-- 只有登录注册页面 -->
{#<div class='container'>#}
{#    <div class="row">#}
{#      <div style="width: 70%; margin-left: 15%; margin-top: 15px;" class="alert alert-warning text-center" role="alert">message</div>#}
{##}
{#      <div style="width: 70%; margin-left: 15%;" class="alert alert-danger text-center" role="alert">error</div>#}
{#    </div>#}
{#</div>#}

<!-- nav-header -->

{% block nav_header %}
<div class="container-fluid" id="nav-head">
  <div class="container">
    <div class="row" >
      <div class="col-xs-2 text-center" style="height: 60px;">
        <img id="search-logo-img" src="/static/image/logo-yushu.png">
      </div>

      <div class="col-xs-7"> <!-- //加了group才加长 垂直居中 另一个加长 -->
        <form class="form-inline layui-form" role="form">
          <input lay-verify="required" name="search" type="text"  class="col-xs-10" placeholder="ISBN、图书名" >
          <button type="submit" lay-submit lay-filter="search" class="col-xs-2">搜索</button>
        </form>
      </div>

      <div class="col-xs-3 float_right text-right">
                {% if not current_user.is_authenticated %}
                        <a style="color: white" href="{{ url_for('web.login') }}">登录</a>
                        <a style="color: white" href="{{ url_for('web.register') }}">注册</a>

                {% else %}
                    <a style="color: white" href="{{ url_for('web.personal_center') }}">{{ current_user.nickname }}的鱼书</a>
                    <a style="color: white" href="{{ url_for('web.logout') }}">注销</a>
                {% endif %}
      </div>

    </div>
  </div>
</div>

    <script>
       layui.use(['form','layer','jquery'], function () {
            // 操作对象
            var form = layui.form;
            form.on('submit(search)',function (data) {
                url = "#";
                method = "get";
                console.log(data.field);
                {#x = form_handler(url, method, data.field);#}
                {#// 提示信息#}
                {#// layer.msg('登录失败');#}
                {#return false;#}
                return false;
            });
       });
    </script>
{% endblock %}


<!-- nav-body -->
{% block nav_body %}
<div class="container-fluid" style="background: #505E69;height: 110px">
  <div class="row">
    <div id="nav">
      <a id="recent" href="" class="col-xs-2 col-xs-offset-3 text-center">
        <img src="/static/image/upload.png"><br>
        <span>最近上传</span>
      </a>
      <a id="gifts" href="" class="col-xs-2 text-center">
        <img src="/static/image/gift.png"><br>
        <span>赠送清单</span>
      </a>
      <a id="wishe" href="" class="col-xs-2 text-center">
        <img src="/static/image/wish.png"><br>
        <span>心愿清单</span>
      </a>
      <a id="pending" href="" class="col-xs-2 text-center">
        <img src="/static/image/fish.png"><br>
        <span>鱼漂</span>
      </a>

    </div>
  </div>
</div>
{% endblock %}

<!-- body -->
{% block body %}

{% endblock %}


{% block footer %}
<div class="text-center" style="margin-top: 50px;">
    <span class="text-muted">© 2019-2020 lebron.im created by wvalianty</span>
</div>
{% endblock %}


</body>

</html>