{% extends "base.html" %}


{% block body %}
<div class="container">
    <h4 class="text-left">交易记录</h4>
    <div class="row">
        {% for drift in drifts %}
            <div style="border: solid 1px;height: 237px;margin-top:20px;" class="col-xs-8 col-xs-offset-2">
                <img style="float:left;height: 135px;width: 92px;margin-top: 35px;" src="{{ drift.book_image }}" alt="">
                <div class="col-xs-offset-3" style="margin-top: 20px;">
                    <ul>
                        <li>书籍名：{{ drift.book_title }}</li>
                        <li>作者：{{ drift.book_author }}</li>
                        <li>发起日期：{{ drift.create_time }}</li>
                        <li>向他请求：{{ drift.create_time }}</li>
                        <li>状态：{{ drift.pending_str }}</li>
                        <li>邮寄地址：{{ drift.address }}</li>
                        <li>联系电话：{{ drift.mobile }}</li>
                    </ul>
                </div>
                <div style="float: right;margin-top:-150px;">
                    {% if drift.pending_str == '等待对方邮寄' %}
                        <a href="">撤销</a>
                    {% elif drift.pending_str == '等待你邮寄' %}
                        <a href="">已邮寄</a>
                        <a href="">拒绝</a>
                    {% else %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-xs-12" style="position:relative;top:45px;">
                        <p style="line-height: 20px;background: #e8ebef;width: 100%;">你的留言：{{ drift.message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}